.accountIcon {
  color: #005f88;
}
.accountHeader {
  display: flex;
  align-items: center;
}

.userName {
  font-size: 18px;
  font-weight: bold;
}

.role {
  margin-top: -5px;
}

.blockTitle {
  font-size: 14px;
  font-weight: bold;
}
.accountInfoLine {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: rgb(56, 56, 56);
}
.header {
  font-size: 18px;
  font-weight: bold;
  color: black;
  justify-content: space-between;
}

.btn button {
  margin-top: 0.7rem;
  font: inherit;
  cursor: pointer;
  background-color: #005f88;
  color: #fff;
  font-weight: bold;
  padding: 0.2rem 1.5rem;
  border: 1px solid #005f88;
  border-radius: 5px;

  font-size: 16px;
  float: inline-end;
}

.btn button:hover,
.btn button:active {
  background-color: #fff;
  border: 1px solid #005f88;
  color: #005f88;
}
