.featuredIcon {
  font-size: 40px;
}

.iconF {
  font-size: 30px;
}

.featuredNumber {
  font-weight: bold;
  font-size: 25px;
  color: black;
}
.featuredContainer {
  font-size: 14px;
  color: rgb(155, 155, 155);
}
.nanani {
  padding: 1px;
  flex: 2;
}

.featuredItem {
  margin: 2px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 1px 4px 7px -6px #8ea0af;
}
.nanana {
  font-size: 30px;
}
.featured {
  margin-left: 10px;
}
